body{
  background-color: rgb(229, 246, 229);
  padding: 0;
  margin: 0;
}
.container {
  margin: 50px 300px;
  display: flex;
  height: 550px;
  width: 900px;
}
.left {
  background-color: white;
  border-radius: 20px 0 0 20px;
  width: 500px;
  padding: 10px 31px;
}
.top, .top-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top select{
  border: none;
  outline: none;
  cursor: pointer;
}
.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-text p{
  color: gray;
  margin: 0;
  font-size: 14px;
}
form{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 25px;
}
input, button{
  height: 50px;
  background-color: #f5f7f9;
  border:none;
  outline: none;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 16px;
}
form p{
  color: #00cf23;
  margin-top: 0;
  font-size: 14px;
}
form button{
  background-color: black;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
button:hover{
  background-color: #00cf23;
  transition: all 0.5s ease;
  transform: scale(1.02);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer p{
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.right {
  border-radius: 0 10px 10px 0;
  width: 800px;  
  background-image: url("vase2.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.description{
  margin-top: 100px;
  width: 300px;
  height: 220px;
  border-radius: 10px;
  padding: 20px;
  padding-top: 20px;
  background: rgba(75, 75, 75, 0.35); /* semi-transparent black */
  backdrop-filter: blur(7px);    /* blur background */
  border-radius: 16px;
}
#first-p{
  margin-top: 5px;
  font-size: 22px;
  font-weight: 600;
}
#last-p{
  font-size: 14px;
}